.display-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15.63rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15.63rem, 1fr));
  grid-gap: 2rem;
  /* margin-top: 3.75rem; */
  padding: 1rem;
}

.display-card {
  padding: 2rem;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee6ce;
  border-radius: 4rem;
  border: 3px solid #eee6ce;
}

.display-card-image {
  height: 5rem;
  width: 5rem;
}

.display-card-name {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #756852;
}

.display-card:hover {
  cursor: pointer;
  border-color: #dfd5af;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.form-input-group {
  font-size: 2rem;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.form-input-group label {
  margin-bottom: 0;
  color: #756852;
}

.form-input-group-category {
  background-color: #56bdac;
  color: #f9f7e6;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 3px solid #56bdac;
}

.form-input-group-category:hover {
  border: 3px solid #46e4d7;
  color: #ffcb43;
}

.form-input-group-search {
  outline: none;
  padding: 0.5rem;
  border: 1px solid #56bdac;
  border-radius: 1rem;
}

.form-input-group-search::-webkit-input-placeholder {
  color: #ccc;
}

.form-input-group-search:-ms-input-placeholder {
  color: #ccc;
}

.form-input-group-search::-ms-input-placeholder {
  color: #ccc;
}

.form-input-group-search::placeholder {
  color: #ccc;
}

.form .btn {
  font-size: 2rem;
  background-color: #56bdac;
  color: #f9f7e6;
  border: 3px solid #56bdac;
  border-radius: 1rem;
}

.form .btn:hover {
  border: 3px solid #46e4d7;
  color: #ffcb43;
}

.form .info {
  color: #756852;
}

@media only screen and (max-width: 768px) {
  .form-input-group {
    font-size: 1.5rem;
  }
  .form-input-group-search {
    width: 15rem;
  }
  .form-input-group .btn {
    font-size: 1.5rem;
  }
}

.modal-content {
  border-radius: 3rem;
  background-color: #f5f3e6;
  color: #756852;
}

.modal-header {
  color: #8a9f93;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  border-bottom: 0;
  padding: 0.5rem 2rem;
}

.modal-header .modal-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.modal-body {
  background-color: #e1efcc;
  background: url("./images/ac-new-horizons-leaf-pattern-v2-1280x1024-1.jpg") no-repeat center center fixed;
  background-size: cover;
  border-radius: 0 0 3rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem 2rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.modal-body figure {
  background-color: #f5f3e6;
  padding: 0.5rem;
  border-radius: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.modal-body p {
  padding: 10px;
  margin: 0;
}

.modal-body p:not(:last-child) {
  border-bottom: 2px solid #f5f3e6;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

figure {
  margin: 0;
}

select {
  outline: none;
  border: none;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #eee6ce;
  /* border: 2px solid #eff1f5; */
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
  height: 100vh;
  background-color: #f5f3e6;
  overflow: overlay;
}

.App .wlcmScreen {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  text-align: center;
  place-items: center;
  background: url("./images/newhorizons_wallpaper_PromoArt.png") no-repeat center center fixed;
  background-size: cover;
  color: #756852;
  font-size: 3rem;
}

.App button.btn {
  color: #f9f7e6;
  font-size: 2rem;
  border-radius: 1rem;
  background-color: #56bdac;
  border: 3px solid #56bdac;
}

.App button.btn:hover {
  color: #ffcb43;
  border: 3px solid #46e4d7;
}
/*# sourceMappingURL=index.css.map */