.display {
  &-wrapper {
    @include gridContainer;
    padding: 1rem;
  }
  &-card {
    padding: 2rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #eee6ce;
    border-radius: 4rem;
    border: 3px solid #eee6ce;
    -webkit-box-shadow: 0px 61px 110px -52px rgba(0,0,0,0.6);
-moz-box-shadow: 0px 61px 110px -52px rgba(0,0,0,0.6);
box-shadow: 0px 61px 110px -52px rgba(0,0,0,0.6);

    &:hover {
      transform: scale(1.1);
    }

    &-image {
      height: 5rem;
      width: 5rem;
    }

    &-name {
      align-self: center;
      color: #756852;
    }

    &:hover {
      cursor: pointer;
      border-color: #dfd5af;
    }
  }
}
