.form {
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
  &-input-group {
    font-size: 2rem;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    label {
      margin-bottom: 0;
      color: #756852;
    }
    &-category {
      background-color: #56bdac;
      color: #f9f7e6;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      border: 3px solid #56bdac;
      &:hover {
        border: 3px solid #46e4d7;
        color: #ffcb43;
      }
    }
    &-search {
      outline: none;
      padding: 0.5rem;
      border: 1px solid #56bdac;
      border-radius: 1rem;
      &::placeholder {
        color: #ccc;
      }
    }
  }

  .btn {
    font-size: 2rem;
    background-color: #56bdac;
    color: #f9f7e6;
    border: 3px solid #56bdac;
    border-radius: 1rem;
    &:hover {
      border: 3px solid #46e4d7;
      color: #ffcb43;
    }
  }
  .info {
    color: #756852;
  }
  @media only screen and (max-width: 768px) {
    &-input-group {
      font-size: 1.5rem;
      &-search {
        width: 15rem;
      }
      .btn {
        font-size: 1.5rem;
      }
    }
  }
}
