@mixin gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 15.63rem);
  grid-gap: 5rem;
  justify-content: center;
}

@mixin flexContainer {
  grid-column: 2/14;
  padding: 3.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}